.container {
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);
    border-radius: 12px;
    min-height: 700px;
    .header {
        padding-top: 12px;
    }
}