.container {
  padding-left: 4px;
  flex: 1 1;
  margin-left: -4px; }
  .container .comment-container {
    flex: 1;
    background-color: #f2f3f5;
    margin-right: 24px;
    border-radius: 18px;
    color: #1c1e21;
    padding: 9px 12px;
    min-width: 120px;
    line-break: auto;
    max-width: 586px; }
    .container .comment-container .username {
      font-size: 20px;
      color: #000;
      margin: 0;
      font-weight: 700; }
  .container .actions {
    font-size: 1.2rem;
    color: #999; }
    .container .actions .action-like,
    .container .actions .action-reply {
      font-size: 1rem;
      color: #c39e51;
      margin: 0 4px; }
    .container .actions .action-reply {
      color: #e87a5a; }

.replyList {
  width: calc(100% - 160px);
  margin: 0 0 0 55px;
  padding: 10px 0 0 16px; }

.replyList_js {
  width: calc(100% - 160px);
  margin: 0 0 0 55px;
  padding: 10px 0 0 16px; }

.replyList-body .media {
  margin-left: 24px; }

.reply-container .replyForm {
  margin: 0 0 8px 32px;
  line-height: 1.6;
  max-width: 600px;
  display: flex;
  align-items: center; }
  .reply-container .replyForm .reply-input {
    margin: 16px 0 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    padding-left: 0;
    flex: 1;
    margin-right: 24px;
    color: #1c1e21;
    padding: 9px 12px;
    min-width: 120px;
    line-break: auto;
    max-width: 586px; }
    .reply-container .replyForm .reply-input input {
      border: none;
      width: 100%;
      padding: 4px;
      background-color: #646464;
      color: white;
      font-size: 16px; }
    .reply-container .replyForm .reply-input input::placeholder {
      color: #c39e51; }
    .reply-container .replyForm .reply-input .replySendBtn:focus,
    .reply-container .replyForm .reply-input input:focus {
      outline: none; }

.reply-container .reply-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 8px 32px;
  line-height: 1.6;
  max-width: 600px;
  display: flex;
  align-items: start; }
  .reply-container .reply-btn .replySendBtn {
    background: #c39e51;
    color: white;
    pointer-events: auto;
    border-radius: 10px;
    width: 130px;
    height: 42px;
    align-self: center;
    margin-left: 12px;
    padding: 4px 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px; }
  .reply-container .reply-btn .no-replySendBtn {
    color: #140c0c;
    font-weight: 500;
    pointer-events: auto;
    border: none;
    align-self: center;
    margin-left: 12px;
    width: 69px;
    border-radius: 10px;
    height: 42px;
    background-color: #b51717; }

.feedback-container {
  background-color: #646464;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 #220202;
  margin-right: 20px; }

#commentBox {
  margin-left: 28px; }
  #commentBox .each_comment_box {
    margin-bottom: 30px; }
  #commentBox .action-like, #commentBox .action-comment {
    cursor: pointer; }
  #commentBox .action-like:hover, #commentBox .action-comment:hover {
    color: #b51717;
    font-size: 20px;
    font-weight: 400; }

.feedback-container {
  min-height: 140px; }

.noti-each {
  background-color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 12px 8px; }

.noti-img {
  width: 58px;
  background-color: black;
  height: 58px;
  object-fit: scale-down;
  border-radius: 50%;
  margin-right: 12px; }

.noti-time {
  margin-top: 8px; }

.noti-username {
  font-weight: 600; }

.noti-where {
  font-weight: 600; }
