<div id= "footer">

    <div class="brand-name text-center">
        LivreCafé
    </div>

    <div class="slogan text-center font-italic">
        <p>" Sách hay, cũng như bạn tốt, ít và được chọn lựa; chọn lựa càng nhiều, thưởng thức càng nhiều"</p>
        <p>"Cà phê phù hợp với rất nhiều người. Kẻ tim đến cà phê khi muộn phiên, người tim đến hương vị của nó tìm cảm hứng sáng tạo</p>
        <p>Chúng tôi mang đến những tách cà phê ngon hơn người yêu cũ của bạn."</p>
    </div>

    <div class="contact">
        <p><i class="footer-icon ti-location-pin"></i>số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
        <p><i class="footer-icon ti-mobile"></i><span class="des">Phone:</span><a href="tel:+00 151515">+00 151515</a> </p>
        <p><i class="footer-icon ti-email"></i><span class="des">Email:</span><a href="lirvecafe@mail.com">livre_cofee@mail.com</a> </p>
    </div>

</div>

