<div id= "footer">

    <div class="brand-name text-center">
        Xin chào quý khách. Chúng tôi là LivreCafé
    </div>

    <div class="slogan text-center font-italic">
        <p style="font-weight: bold; font-size:16px; color: white">"Địa đỉểm nổi tiếng nhất Việt Nam và có không gian cực kì hấp dẫn cùng với đồ ăn uống đa dạng"</p>
        <p style="font-weight: bold; font-size:16px; color: white">"Livrecafé chính là lựa chọn tuyết vời để tạo động lực cho bạn vào những ngày dài"</p>
    </div>

    <div class="contact">
        <p style="display: flex; justify-content: flex-start; align-items: center; font-weight: bold; font-size:16px"><i class="footer-icon ti-location-pin"></i><span style="font-weight: bold; font-size:16px; color: ">Address:</span><a style="margin-left: 8px; color: #891354; font-weight: bold; font-size:16px"href="#">Số nhà 31, ngách 60, ngõ 75 Giải Phóng, Hai Bà Trưng, Hà Nội</a></p>
        <p style="display: flex; justify-content: flex-start; align-items: center"><i class="footer-icon ti-mobile"></i><span style="font-weight: bold; font-size:16px; color: ">Phone:</span> <a style="margin-left: 8px; color: #891354; font-weight: bold; font-size:16px"href="#">0969973012</a> </p>
        <p style="display: flex; justify-content: flex-start; align-items: center"><i class="footer-icon ti-email"></i><span style="font-weight: bold; font-size:16px; color: ">Email:</span>: <a style="margin-left: 8px; color: #891354; font-weight: bold; font-size:16px"href="#">hust.livrecafe@gmail.com</a> </p>
    </div>

</div>

