

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link css -->
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <!-- link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-5.15.4/css/all.css">
    <!-- link image -->
</head>

<body>
    <div class="admin-page">
        <!-- <div class="admin__navbar">
            <div class="admin__navbar-shop">
                Livre Cafe
                <i class="fas fa-coffee admin__navbar-shop-icon"></i>
                <i class="fas fa-fire admin__navbar-shop-icon__smoke"></i>
            </div>
            <div class="admin__navbar-avt">
                <img src="https://i.9mobi.vn/cf/images/ba/2018/4/16/anh-avatar-dep-8.jpg" alt="" class="admin__navbar-img">
                <span class="admin__navbar-name">Queen Pharaoh</span>
            </div>
            <div class="admin__navbar-forms admin__navbar--active">
                <div class="admin__navbar-forms-left">
                    <i class="fas fa-edit admin__navbar-forms-icon"></i>
                    <span style="display: inline-block;">Quản lí</span>
                </div>
                <i class="fas fa-chevron-left admin__navbar-forms-icon-right"></i>
    
                <ul class="admin__navbar-forms-list">
                    <li class="admin__navbar-forms-link admin__navbar-forms-link--active">
                        <a class="admin__navbar-forms__item">
                            <i class="far fa-circle admin__navbar-forms__item-icon"></i>
                            Quản lí sản phẩm    
                        </a>
                    </li>
                    <li class="admin__navbar-forms-link">
                        <a class="admin__navbar-forms__item">
                            <i class="far fa-circle admin__navbar-forms__item-icon"></i>
                            Quản lí sách    
                        </a>
                    </li>
                    <li class="admin__navbar-forms-link">
                        <a class="admin__navbar-forms__item">
                            <i class="far fa-circle admin__navbar-forms__item-icon"></i>
                            Quản lí sách    
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
    
        <div class="admin__content admin__content--book">
            <div class="admin-forms-content">
                <span class="admin-forms-content__heading">Sách</span> 
                <div class="admin-forms__products-wrap">
                    <div class="admin-forms__item" style="box-shadow: 0 0 4px #2b2b2b;">
                        <div class="forms__item-heading">Sách</div>
                        <form action="/action_page.php" class="forms__item-action">
                            <div class="forms-action-wrap">
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                                <div class="forms-action__item">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="forms-action__checkbox">
                                    <label for="vehicle1" class="forms-action__label"> 
                                        <img src="https://anhdepfree.com/wp-content/uploads/2020/08/hinh-anh-shin-cau-be-but-chi-va-chu-cho-bong-tuyet.jpg" alt="" class="forms-item__img">
                                        <div class="forms-item__des">
                                            <span class="forms-item__name">Shin - Cậu bé bút chì</span>
                                            <span class="forms-item__price">
                                                <span style="display: inline-block; min-width: 68px;">34.000</span>
                                                <a href="#" class="forms-item__detail">Chi tiết</a>
                                            </span>
                                        </div>
                                    </label><br>
                                </div>
                            </div>
                            <div class="forms-action__submit">
                                <input type="submit" value="Xoá các mục đã chọn">
                                <i class="fas fa-trash" style="position: relative; right: 183px;font-size: 15px; color: white;"></i>
                                <a href="#" class="forms-add-btn">
                                    <i class="fas fa-plus" style="font-size: 15px;"></i>
                                    Thêm sản phẩm
                                </a>
                            </div>
                          </form>
                    </div>

                    
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>