

<body>
    <div class="admin__users">
        <div class="users__heading">
            Number of users in LivreCafé Systemt:
            <span class="users__heading-count">{{users.length}}</span>

        </div>
        <div class="users__content">
            <div class="users__content-search">
                <i class="fas fa-search users-search__icon"></i>
            </div>
            <ul class="users-list">
                {{#each users}}
                <li class="users-item">
                    

                   



                    <div class="users-item__actions">
                        <a href="#" class="users-item__btn users-item__btn--view">
                            <i class="fas fa-eye users-item__btn-icon"></i>
                        </a>
                        <button class="users-item__btn users-item__btn--del">
                            <i class="fas fa-trash users-item__btn-icon"></i>
                        </button>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

   

</body>