<div style="background-color: white">
    <form method="POST" action="/events/save">
    


username
    <input type="text" name="username" value="JJLee" required>
    eventBooker
    <input type="text" name="eventBooker" value="JJLee" required>
    title
    <input type="text" name="title" value="JJLee" required>
    description
    <input type="text" name="description" value="Họp lớp" >
    no_seating
    <input type="text" name="no_seating" value="30" required>
    email
    <input type="text" name="email" value="" required>
    total
    <input type="text" name="total" value="108" required>
    eventStartDate
    <input type="date" name="eventStartDate" value="" required>
    eventEndDate
    <input type="date" name="eventEndDate" value="" required>
    food
    <input type="text" name="food" value="food_id_1">
    food_quantity
    <input type="text" name="food_quantity"a value="2" required>
    food
    <input type="text" name="food" value="food_id_2">
    food_quantity
    <input type="text" name="food_quantity"a value="4" required>
    food
    <input type="text" name="food" value="food_id_3">
    food_quantity
    <input type="text" name="food_quantity"a value="2" required>
    food
    <input type="text" name="food" value="food_id_4">
    food_quantity
    <input type="text" name="food_quantity"a value="3" required>
    drink
    <input type="text" name="drink" value="drink_id_1">
    drink
    <input type="text" name="drink-quantity" value="1" required>
    drink
    <input type="text" name="drink" value="drink_id_2">
    drink
    <input type="text" name="drink-quantity" value="3" required>
    drink
    <input type="text" name="drink" value="drink_id_3">
    drink
    <input type="text" name="drink-quantity" value="5" required>
    drink
    <input type="text" name="drink" value="drink_id_4">
     drink
<input type="text" name="drink-quantity" value="2" required>

<button>Submit</button>

</form>
</div>